<!-- <p>navbar works!</p> -->
<nav class="navbar-expand navbar navbar-dark bg-primary fixed-top ">
    <div class="container-fluid">
        <ul class="navbar-nav "  >
            
            <a class="navbar-brand" href="https://angular.io/" alt="" target="_blank">
                <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="" style="height: 35px; width: auto;">
                
            </a>
            <li class="nav-item">
                <a href="#" class="nav-link " routerLink="/home" > Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link " >Amit</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link " > Shubham</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" routerLink="/employee">Employees Details</a>
            </li>

        </ul>
         
        
    </div>
</nav>
<router-outlet></router-outlet>
